[Unit]
Description=Container Registry Container

[Container]
Image=docker.io/library/registry:latest
Pod=rpi.pod
StartWithPod=false
Volume=registry:/var/lib/registry
Volume=../registry/registry/config.yml:/etc/docker/registry/config.yml:Z
