[Unit]
Description=Registry Container

[Container]
Image=docker.io/library/registry:latest
Pod=registry.pod
Volume=../registry/registry/config.yml:/etc/docker/registry/config.yml:Z
